* {
  box-sizing: border-box;
}

body {
  font-family: "Euclid Circular A", Poppins;
  color: #f9f9f9;
  height: 80vh;
  background-image: url("bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

body::after {
  content: "";
  position: absolute;
  inset: 0;
  background: rgb(0 0 0 / 22%);
}

button {
  border: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
}

.burger,
.menu {
  position: fixed;
}

.burger {
  z-index: 3;
  top: 166px;
  left: 38px;
  display: grid;
  place-items: center;
  width: 88px;
  height: 88px;
  background-size: 60%;
  background-image: url("menu.svg");
  background-repeat: no-repeat;
  background-position: center;
}

body.open .burger {
  background-image: url("close.svg");
}

.menu {
  z-index: 2;
  inset: 0;
  bottom: 20vh;
  display: grid;
  place-items: center;
  background: rgb(0 0 0 / 60%);
  backdrop-filter: blur(10px);
  padding: 0 64px;
  text-align: center;
  transition: translate 0.475s cubic-bezier(0.175, 0.885, 0.32, 1);
  animation: menu-out 0.475s both;
}

.menu nav {
  opacity: 0;
}

@keyframes menu-in {
  0% {
    translate: -100% 0;
    clip-path: ellipse(60% 60% at 0% 50%);
  }
  100% {
    translate: 0;
    clip-path: ellipse(120% 120% at 0% 50%);
  }
}

@keyframes menu-out {
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

body.open .menu {
  opacity: 1;
  visibility: visible;
  translate: 0;
  animation: menu-in 0.475s both;
}

body.open .menu nav {
  opacity: 1;
}

.menu nav:hover a {
  opacity: 0.25;
}

.menu nav a:hover {
  opacity: 1;
}

.menu nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.menu a {
  position: relative;
  color: #f9f9f9;
  font-size: 32px;
  font-family: "Euclid Circular A";
  padding: 20px 0;
  width: 260px;
  text-decoration: none;
  cursor: pointer;
  opacity: 1;
  visibility: visible;
  transition: 0.4s;
}

body.open .menu a {
  animation: appear 0.25s backwards;
}

@keyframes appear {
  0% {
    opacity: 0;
    translate: 0 30px;
  }
  100% {
    opacity: 1;
  }
}

.insta-footer {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  height: 20vh;
  z-index: 10;
  background-color: black;
}
